@font-face {
    src: url("fonts/CondorVariable-VF-Edu.woff2")format("woff2"),
        url('fonts/CondorVariable-VF-Edu.ttf') format('truetype');

    font-family: 'Condor Variable Regular';
    font-style: normal;
    font-weight: normal;
    }
    
    body{
    background-color: rgb(0, 0, 0);
    font-family: 'Condor Variable Regular';
    color: rgb(255, 255, 255);
}
.hero{
    padding-top: 40px;
    background-image: url("condorherobackground.png");
    background-repeat: no-repeat;
  background-size: 1600px 650px;
}
.first{
    margin-right:20px;
}
.second{
    margin-left:100px;
    color: rgb(0, 255, 242);
}
.third{
    margin-left:200px;
}
.fourth{
    margin-left:300px;
    color: rgb(0, 255, 242);
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */


.two-section{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "h v";
}

#history {
grid-area: h;
}

#variations{
grid-area: v;
}

.alphabet {
grid-area: a;
}

#download {
grid-area: v;
}

<style>
a:link{
  color: rgb(255, 255, 255);
  background-color: transparent
  text-decoration: none

}

a:visited{
  color: rgb(255, 255, 255);
  background-color: transparent
  text-decoration: none

}

a:hover{ 
    color: rgb(0, 255, 242);
    background-color: transparent;
    text-decoration: underline;

}
  

/* CSS for the footer */
footer{
    background-color: rgb(255, 255, 255);
}

/* variable font animation */
h3{
    font-weight: 100px; 
    text-align: center;
    margin-top:0px;
    margin-bottom:0px;
    font-size: 5em;
    animation: weightChange 5s infinite;


}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 3, "wght" 25, "slnt" 6;
    }
    50%{font-variation-settings: "opsz" 40, "wght" 1200, "slnt" 13;
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font: weight 100px; ;
    height: 400px;
    font-size: 10em;
    color: rgb(255, 255, 255);
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
        
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

/* @keyframes color-shift-top {
    0%, 100%
    fill: rgb(13, 190, 107);
} */